<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Even or Odd</title>
</head>
<body>
    <form action="/" method="POST">
        <label>Introduce a number</label>
        <input type="text" name="txtnum">
        <input type="submit" value="Calculate">
        <br>
        <label>The {{num}} is {{res}}</label>
    </form>
</body>
</html>